body {
    margin: 0;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Nav Bar Styles */

.navBar {
    background-color: rgb(33, 33, 33);
}

.navContainer {
    width: 70%;
    margin: 0 auto;
}

.navBarList {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navLink {
    text-decoration: none;
    color: rgb(223, 223, 223);
    padding: 15px;
    padding-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
}

.navLink:hover {
    background-color: rgb(236, 189, 0);
    color: rgb(80, 68, 0);
    transition: 0.25s;
}

.hamburgerIcon {
    margin-top: 3px;
    width: 22px;
    height: 22px;
}

.dropdownIcon {
    display: none;
    padding: 10px
}

#dropdownMenu {
    display: none;
    position: absolute;
    background-color: rgb(221, 176, 0);
    margin-left: 15px;
    box-shadow: 2px 2px 5px 3px rgba(67, 67, 67, 0.25);
}

.dropdownList {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.dropdownLink {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdownLink:hover {
    color: rgb(174, 139, 0);
}

/* Home page Styles */

.frontPageBackground {
    background-image: url('Background.png');
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-items: center;
    height: 290px;
}

.titleImg {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}

.tagline {
    color: rgb(215, 215, 215);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
    Front Page Links
*/

.productLinksContainer {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    column-gap: 100px;
    grid-template-columns: 27% 27% 27%;
    height: 300px;
}

.productLinkStyle {
    text-decoration: none;
    border: solid 2px rgb(236, 189, 0);
    border-radius: 10%;
    text-align: center;
    overflow: hidden;
}

.productLinkStyle:hover {
    box-shadow: 2px 2px 5px 3px rgba(67, 67, 67, 0.25);
    transition: 0.25s;
}

.linkImgContainer {
    min-height: 230px;
}

.frontPageLinkText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80, 68, 0);
    background-color: rgb(236, 189, 0);
    border-top: solid 2px rgb(236, 189, 0);
    margin: 0;
    padding-bottom: 15px;
    padding-top: 10px;
}

/* Clothing Link Styles */

.clothingProductLink {
    min-height: 250px;
}

.thrasherhoodImg {
    width: 35%;
    height: auto;
    margin-top: 35px;
}

.clothingProductLink:hover .clothingLink {
    background-color: white;
    color: rgb(236, 189, 0);
    transition: 0.25s;
}
  
/* Skateboarding Link Styles */

.skateProductLink {
    min-height: 250px;
}
  
.gripImg {
    width: 80%;
    height: auto;
    margin-top: 100px;
}

.skateProductLink:hover .skateboardLink {
    background-color: white;
    color: rgb(236, 189, 0);
    transition: 0.25s;
}
  
/* Shoe Link Styles */

.shoeProductLink {
    min-height: 250px;
}
  
.dcBlack {
    width: 60%;
    height: auto;
    margin-top: 75px;
}

.shoeProductLink:hover .shoesLink {
    background-color: white;
    color: rgb(236, 189, 0);
    transition: 0.25s;
}

/* Footer Styles */ 

.footer {
    background-color: rgb(26, 26, 26);
    min-height: 20vh;
    margin-top: 50px;
}

.footerContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(203, 203, 203);
    font-size: larger;
    padding-right: 30px;
}

.socialLogo {
    width: 30px;
    height: 30px;
    align-self: center;
    padding-left: 10px;
}

/*
    Product Styles
*/

/* Filter Styles */

.filterBtnContainer {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10px;
}

.filterText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filterBtn {
   background-color: rgb(236, 189, 0);
   margin-left: 10px;
   border: solid 2px rgb(236, 189, 0);
   border-radius: 3px;
   padding: 5px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 14px;
   font-weight: bold;
   color: rgb(80, 68, 0);
   align-self: center;
   cursor: pointer;
}

.filterBtn:hover {
    background-color: white;
    transition: 0.25s;
}

/* Product List Styles */

.productListContainer {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 25px;
    margin-top: 20px;
}

.productListItem {
    border: solid 1px rgb(236, 189, 0);
    margin-bottom: 10px;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    height: 400px;
}

.productListItem:hover {
    border: solid 1px rgb(123, 99, 0);
    color: rgb(123, 99, 0);
    box-shadow: 2px 2px 5px 3px rgba(67, 67, 67, 0.25);
}

.productListImgContainer {
    height: 70%;
}

.imgVerticalAlign {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.productListImg {
    max-height: 100%;
    max-width: 90%;
    margin-top: 10px;
    vertical-align: middle;
}

.productListPrice {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-top: 40px;
}

.productListName {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

/* 
    Product View Styles 
*/

.productViewContainer {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 70vh;
}

.productViewColumns {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
    margin-top: 20px;
}

.productViewImgContainer {
    border: solid 1px rgb(236, 189, 0);
    border-radius: 3%;
    text-align: center;
    height: 65vh;
}

.productViewImg {
    max-height: 100%;
    max-width: 90%;
    vertical-align: middle;
}

.productDetailsContainer {
    display: grid;
    grid-template-rows: 64% 36%;
}

.productHeading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.productDetailsText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.productViewPrice {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.addToCartBtn {
    background-color: rgb(236, 189, 0);
    color: rgb(80, 68, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: solid 2px rgb(236, 189, 0);
    border-radius: 5%;
    padding: 5px;
}

.addToCartBtn:hover {
    background-color: white;
}

/* Loading Styles */

.loadingImgContainer {
    margin: 0 auto;
    min-height: 70vh;
    text-align: center;
}

.loadingImg {
    width: 100px;
    height: 100px;
    margin-top: 200px;
}

.rotate {
    animation: rotation 4s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loadingText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

/* Shopping Cart Styles */

.cartContainer {
    margin-left: auto;
    margin-right: 20px;
    width: 500px;
}

#cartDiv {
    position: absolute;
    width: 500px;    
    display: none;
    z-index: 1;
    box-shadow: 2px 2px 5px 3px rgba(67, 67, 67, 0.25);
    background-color: white;
    margin-top: 20px;
    min-height: 80px;
}

.cartNavLink {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
}

.cartBtn {
    border: none;
    background-color: rgb(33, 33, 33);
    padding: 0;
    cursor: pointer;
}

.cartAmount {
    background-color: rgb(236, 189, 0);
    border: solid 1px rgb(236, 189, 0);
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    margin-left: 2px;
    height: 18px;
}

.cartIcon {
    width: 22px;
    height: 22px;
}

.cartTopBar {
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    text-align: center;
    background-color: rgb(236, 189, 0);
}

.cartHeading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cartItemsArea {
    max-height: 710px;
    overflow: auto;
}

.closeCartBtn {
    border-style: none;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Cart Item Styles */

.cartItemContainer {
    width: 100%;
    height: 116px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-bottom: solid 1px rgb(195, 195, 195);
}

.cartImgContainer {
    height: 116px;
    text-align: center;
}

.cartItemImg {
    max-height: 90%;
    max-width: 90%;
    display: inline-block;
    vertical-align: middle;
}

.cartItemDetails {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
}

.cartRemoveBtn {
    cursor: pointer;
    background-color: rgb(223, 0, 0);
    color: rgb(255, 255, 255);
    border-style: none;
    height: 30px;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cartRemoveBtn:hover {
    background-color: rgb(154, 0, 0);
}

#cartEmpty {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#checkoutBtn {
    display: none;
    text-align: center;
    padding: 20px;
}

/* Checkout Styles */

.checkoutContainer {
    margin: 0 auto;
    width: 40%;
    min-height: 70vh;
    text-align: center;
}

.checkoutHeading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.purchaseDetails {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
    text-align: right;
}

/*
============================
    Response Breakpoints
============================
*/

@media screen and (max-width: 1500px) {

    .productLinksContainer {
        width: 80%;
    }
}

@media screen and (max-width: 1400px) {

    .productLinksContainer {
        width: 90%;
    }

    .checkoutContainer {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {

    .productLinksContainer {
        grid-template-columns: 31% 31% 31%;
        column-gap: 4%;
    }

    .titleImg {
        width: 800px;
    }

    .productListContainer {
        width: 80%;
    }

    .filterBtnContainer {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {

    .checkoutContainer {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {

    .titleImg {
        width: 700px;
    }

    .frontPageLinkText {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .productLinksContainer {
        height: 250px;
    }

    .linkImgContainer {
        min-height: 200px;
    }

    .productLinkStyle {
        height: 250px;
    }

    .footer {
        margin-top: 35px;
    }

    .gripImg {
        margin-top: 80px;
    }

    .dcBlack {
        margin-top: 65px;
    }

    .productListItem {
        height: 300px;
    }

    .productListPrice {
        margin-top: 15px;
    }

    .productViewContainer {
        width: 80%;
    }

    .checkoutContainer {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {

    .titleImg {
        width: 600px;
    }

    .frontPageLinkText {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .productLinksContainer {
        height: 220px;
    }

    .linkImgContainer {
        min-height: 170px;
    }

    .productLinkStyle {
        height: 220px;
    }

    .footer {
        margin-top: 50px;
    }

    .gripImg {
        margin-top: 70px;
    }

    .dcBlack {
        margin-top: 55px;
    }

    .navContainer {
        width: 80%;
    }

    .productListContainer {
        width: 90%;
        column-gap: 15px;
    }

    .filterBtnContainer {
        width: 90%;
    }
}

@media screen and (max-width: 850px) {
    
    .titleImg {
        width: 500px;
    }

    .tagline {
        font-size: 1.2em;
    }

    .navContainer {
        width: 90%;
    }

    .frontPageBackground {
        background-image: url('BackgroundMedium.png');
        height: 170px;
    }

    .productLinksContainer {
        grid-template-columns: 100%;
        height: 100%;
        width: 50%;
    }

    .productLinkStyle {
        height: 320px;
        margin-bottom: 20px;
    }

    .linkImgContainer {
        height: 260px;
    }

    .frontPageLinkText {
        padding-top: 13px;
    }

    .gripImg {
        margin-top: 90px;
    }

    .dcBlack {
        margin-top: 70px;
    }
}

@media screen and (max-width: 800px) {
    
    .productListPrice {
        font-size: 14px;
    }

    .productListName {
        font-size: 14px;
    }

    .productViewContainer {
        width: 90%;        
    }

    .checkoutContainer {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    
    .titleImg {
        width: 500px;
    }

    .tagline {
        font-size: 1.2em;
    }

    .productLinksContainer {
        width: 60%;
    }

    .filterBtnContainer {
        margin-top: 5px;
    }

    .productListContainer {
        margin-top: 8px;
        grid-template-columns: 48% 48%;
        column-gap: 25px;
    }

    .checkoutContainer {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    
    .productViewContainer {
        height: 1100px;
    }

    .productViewColumns {
        grid-template-columns: 100%;
    }

    .productDetailsText {
        margin: 0;
    }

    .purchaseDetails {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    
    .titleImg {
        width: 400px;
        margin-top: 20px;
    }

    .tagline {
        font-size: 1em;
    }

    .productLinksContainer {
        width: 70%;
    }

    .navLink {
        display: none;
    }

    .dropdownIcon {
        display: block;
    }

    .cartAmount {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .productListContainer {
        margin-top: 5px;
        column-gap: 15px;
    }

    .filterBtnContainer {
        margin-top: 5px;
    }

    .filterBtn {
        padding: 5px;
        font-size: 12px;
    }

    .filterText {
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (max-width: 550px) {
    
    .gripImg {
        margin-top: 95px;
    }

    .dcBlack {
        margin-top: 75px;
    }

    .productListItem {
        height: 250px;
    }

    .productListPrice {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .productListName {
        margin-top: 8px;
    }

    .cartContainer {
        width: 400px;
    }

    #cartDiv {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    
    .gripImg {
        margin-top: 90px;
    }

    .dcBlack {
        margin-top: 70px;
    }

    .productLinkStyle {
        height: 280px;
        margin-bottom: 20px;
    }

    .linkImgContainer {
        height: 220px;
    }

    .frontPageLinkText {
        font-size: 1.2em;
        padding-top: 13px;
        padding-bottom: 20px;
    }

    .titleImg {
        width: 350px;
        margin-top: 10px;
    }

    .productLinksContainer {
        margin-top: 20px;
    }

    .productViewContainer {
        height: 750px;
    }

    .productViewImgContainer {
        height: 40vh;
    }

    .productHeading {
        font-size: 1.7em;
    }

    label {
        font-size: small;
    }
}

@media screen and (max-width: 450px) {
    
    .productListPrice {
        font-size: small;
        margin-top: 10px;
    }

    .productListName {
        font-size: small;
    }

    .productListItem {
        height: 200px;
    }

    .cartContainer {
        width: 350px;
    }

    #cartDiv {
        width: 350px;
    }

    .cartItemContainer {
        grid-template-columns: 20% 50% 30%;
    }
}

@media screen and (max-width: 400px) {
    
    .titleImg {
        width: 300px;
        margin-top: 10px;
    }

    .frontPageBackground {
        background-image: url('BackgroundMobile.png');
        height: 170px;
    }

    .dropdownIcon {
        padding: 8px;
    }

    .footerText {
        font-size: medium;
    }

    .socialLogo {
        width: 25px;
        height: 25px;
    }

    .gripImg {
        margin-top: 90px;
    }

    .dcBlack {
        margin-top: 70px;
    }

    .productLinkStyle {
        height: 260px;
        margin-bottom: 20px;
    }

    .linkImgContainer {
        height: 200px;
    }

    .productListContainer {
        grid-template-columns: 100%;
        width: 60%;
    }

    .productListItem {
        height: 200px;
    }

    .filterBtnContainer {
        width: 70%;
    }

    .filterText {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .filterBtn {
        margin-left: 5px;
        padding: 3px;
    }

    .cartContainer {
        width: 300px;
    }

    #cartDiv {
        width: 300px;
    }

    .cartItemContainer {
        height: 135px;
    }

    .purchaseDetails {
        grid-template-columns: 40% 60%;
    }

    .productDetailsContainer {
        grid-template-rows: 50% 50%;
    }
}

@media screen and (max-width: 350px) {
    
    .titleImg {
        width: 250px;
        margin-top: 10px;
    }

    .frontPageBackground {
        background-image: url('BackgroundMobile.png');
        height: 150px;
    }

    .hamburgerIcon {
        width: 18px;
        height: 18px;
    }

    .footerText {
        font-size: medium;
    }

    .socialLogo {
        width: 25px;
        height: 25px;
    }

    .gripImg {
        margin-top: 80px;
    }

    .dcBlack {
        margin-top: 60px;
    }

    .productLinkStyle {
        height: 240px;
        margin-bottom: 20px;
    }

    .linkImgContainer {
        height: 180px;
    }

    .tagline {
        font-size: 0.8em;
    }

    .cartAmount {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 0.9em;
    }

    .filterBtnContainer {
        width: 80%;
    }

    .productListContainer {
        width: 70%;
    }

    .productViewContainer {
        height: 700px;
    }

    .productViewImgContainer {
        height: 30vh;
    }

    .productHeading {
        font-size: 1.5em;
    }

    .cartContainer {
        width: 250px;
    }

    #cartDiv {
        width: 250px;
    }

    .cartItemContainer {
        height: 140px;
    }
}